@import "fullPage";
@import "brand";
@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700";

body {
	padding-bottom: 40px;
	font-size:13px;
//	background-color: $brand-bkg;
//	background-color: #372549;
	color: #ddd;
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	height: 100%;
	padding-bottom: 90px;
}
h1, h2, h3 {
	letter-spacing: 1px;
	font-weight: 300
}
.fp-scrollable{
	overflow: hidden;
}
.navbar {
    background: rgba(26, 20, 35, 0.3) none repeat scroll 0 0;
    border-color: rgba(26, 20, 35, 0.6);
    height: 85px;
}
.navbar .main-menu {
    margin: 10px;
}
.gluu-logo {
    height: 60px;
    opacity: 0.9;
    width: 60px;
}

.link-icon {
    color: #333;
    text-decoration: none;
}
.link-icon:hover {
    text-decoration: none;
}
#urls .badge {
    margin-right: 15px;
}
#urls .link-delete {
    background-color: #b94a48;
}
#urls .link-user {
    background-color: #3a87ad;
}
.userName {
    color: #357ebd;
}
.inverse kbd {
    background-color: #f9f2f4;
    color: #c7254e;
}
.fa.active {
    color: #fff;
}
.hint {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    bottom: 10px;
    left: 30px;
    padding: 20px;
    position: fixed;
    right: 30px;
}
.hint i {
    padding: 0 12px 0 5px;
}

.typed-cursor {
    animation: 1s ease 0s normal none infinite running blink;
    opacity: 1;
}
@keyframes blink {
	0% {
			opacity: 1;
	}
	50% {
			opacity: 0;
	}
	100% {
			opacity: 1;
	}
}
